*{
    margin: 0;
    padding: 5px;
}

:root{
    --cor-primaria: #1d1c1c;
  
}


body{
    display: block;
    overflow: hidden;
    position: relative;
    z-index: 1;
}

body::before{
    content: '';
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 40%;
    background-color: var(--cor-primaria);
    z-index: 0;
}

.main{
    position: relative;
    z-index: 1;
}
.container-inicio{
    display: flex;
    justify-content: space-between;
    padding: 0;
    scale: 90%;
    position: relative;
    z-index: 1;
}


.container-texto{
    display: flex;
    align-items:baseline;
    flex-direction: column;
    justify-content: center;
    gap: 5vh;
    font-size: 24px;
    position: relative;
    z-index: 1;
    font-family: sans-serif;
}

.button-show{
    border-radius: 3%;
    border: 2px solid var(--cor-primaria);
    
}

.container-img{
    display: flex;
    width: 60vw;
    scale: 80%;
    position: relative;
    z-index: 1;
    padding-right: 20vh;
}

.container-header{
    display: flex;
    width: 100vw;
    height: 50px;
    flex-direction: row;
    font: 1em sans-serif;
    justify-content: space-between;
}

.img-header{
    display: flex;
    height: 100%;
    align-items: center;
}

.header-content{
    display: flex;
    align-items: center;

}
.header-ancoras{
    display: flex;
    align-items: center;
    font-size:25px;
    justify-content: space-between;
    gap: 8vh;
    position: relative;
    z-index: 1;
    padding-right: 13vh;
}